apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: debezium-crm-source
  namespace: kafka
  labels:
    strimzi.io/cluster: my-connect-cluster
spec:
  class: io.debezium.connector.postgresql.PostgresConnector
  tasksMax: 1
  config:
    plugin.name: pgoutput
    database.hostname: postgresql.storage.svc.cluster.local
    database.port: "5432"
    database.user: postgres
    database.password: "xEFgk32R9k"
    database.dbname: postgres
    database.server.name: crm
    table.include.list: public.customers
    slot.name: debezium_crm_slot
    publication.name: debezium_crm_pub
    database.history.kafka.bootstrap.servers: my-cluster-kafka-bootstrap:9092
    database.history.kafka.topic: dbhistory.crm_customers
    key.converter: org.apache.kafka.connect.json.JsonConverter
    key.converter.schemas.enable: "false"
    value.converter: org.apache.kafka.connect.json.JsonConverter
    value.converter.schemas.enable: "false"
    errors.log.enable: "true"
    errors.log.include.messages: "true"
    errors.tolerance: "all"
    snapshot.mode: "initial"
    heartbeat.interval.ms: "10000"
    transforms: unwrap
    transforms.unwrap.type: io.debezium.transforms.ExtractNewRecordState
    transforms.unwrap.drop.tombstones: "false"