apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-master
  namespace: default  # or kafka, but since MinIO is storage, perhaps default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-master
  template:
    metadata:
      labels:
        app: spark-master
    spec:
      containers:
      - name: spark-master
        image: bitnami/spark:latest
        command: ["/opt/bitnami/spark/bin/spark-class", "org.apache.spark.deploy.master.Master"]
        ports:
        - containerPort: 7077
        - containerPort: 8080
        env:
        - name: SPARK_MASTER_HOST
          value: "spark-master"
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      containers:
      - name: spark-worker
        image: bitnami/spark:latest
        command: ["/opt/bitnami/spark/bin/spark-class", "org.apache.spark.deploy.worker.Worker", "spark://spark-master:7077"]
        env:
        - name: SPARK_WORKER_MEMORY
          value: "1g"
        - name: SPARK_WORKER_CORES
          value: "2"
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: spark-master-service
  namespace: default
spec:
  selector:
    app: spark-master
  ports:
  - name: spark-master
    port: 7077
    targetPort: 7077
  - name: spark-ui
    port: 8080
    targetPort: 8080
  type: ClusterIP